root = true

[*]
end_of_line = lf
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[Makefile]
indent_style = tab

[*.{py,toml}]
indent_size = 4

[*.{json,xml,yaml,yml}]
indent_size = 2

[*.{rst,inc}]
indent_size = 2
