
*data

__pycache__
.ipynb_checkpoints
*.pyc


*.npy
*.json
*.log
*.yml
*.png
*.pdf
*.pptx
*.ppt
*.csv
*.txt
*.lyx*
*.docx
*.doc
*.gv
*.root


cached_dir
trash
figure
fig
build
dist
*.egg-info
site
chains

coverage.xml
.coverage
.vs
htmlcov/

docs/particle_model.rst
