# To see other available options:
#   pylint --generate-rcfile > .pylintrc_new
# and compare the output

[MASTER]
ignore=
    conf.py

[MESSAGES CONTROL]
disable=
    all

enable=
    undefined-variable  # E0602

[SIMILARITIES]
ignore-imports=yes

[VARIABLES]
init-import=yes
