# configuration files
# using YAML format,see more: https://yaml.org/
# required PyYAML module
# this file use indentation to indicate hierarchy


# data entry is the data file name list used for fit
data:
    # 4-momentum order of final particles in dat files [option]
    # the `finals` in `particle` will be used by default.
    # it is necessary when dat files has momentum out of final particles
    dat_order: [B, C, D]
    # basic data files
    data: ["data/data4600_new.dat"]
    # phase space data for normalize amplitude 
    phsp: ["data/PHSP4600_new.dat"]
    # optional weight background data, need bg_weight
    bg: ["data/bg4600_new.dat"]
    # background weight
    bg_weight: 0.731


# `decay` describe the decay structure, each node can be a list of particle name
decay:
    # each entry is a list of direct decay particle, or a list or the list.
    # `dec_file` entry for loading `*.dec` files will be supported in the feature.
    # `-` is often used for list in yaml
    A:
    # for example A -> R_CD + B, R_CD -> C + D
    # the optional `key=value` mean option parameters of the decay
    # note there, R1 is overrated by `particle` entry as R1 and R11
    - [R_CD, B, model: default]
    -   - R_BD
        - C
        - model: "default"
    -
        - R_BC
        - D
    - [B, C, D]
    R_CD:
      - C
      - D
    R_BD: [B, D]
    R_BC: [B, C]


# `particle` describe the particle included
# top, finals, include are used as keywords
particle:
    # top decay particle
    $top:
        A:
            J: 1
            P: -1
            spins: [-1, 1]
    # final particles
    $finals:
        B:
            J: 1
            P: -1
        C:
            J: 1
            P: -1
        D:
            J: 0
            P: -1
    # map for possible resonances in the same position
    # each entry is a list of resonances id [option]
    # include detailed parameters defined in `Resonances.yml`
    $include: Resonances.yml
    R_BD:
      - D2_2460p
      - D1_2430p
      - D1_2420p
    R_BC: [Zc_4025, Zc_4160]
    # by default the node is `name: [name]`
    R_CD:
      - D2_2460
      - D1_2430
      - D1_2420

# constrains for params [WIP]
constrains:
    particle: null
    decay: null


# plot describe the configuration of plotting 1-d data distribution
plot:
    # plot configuration TODO
    config: null
    # invariant mass
    mass:
        R1:
            # label of display
            # use `$$` for latex math
            display: "$\\M_{CD}$"
        R2:
            display: "$\\M_{BD}$"
        R3:
            display: "$\\M_{BC}$"
    # helicity angle
    angle:
        # each entry is `particle[/number]` means the decay of particle, number is the order.
        A/1:
            # include "alpha, cos(beta), gamma", # add `cos` for cos(beta)
            alpha:
                display: "$\\phi_{1}$" # the default is "A/1:$\alpha$"
            cos(beta):
                display: "$\\cos(\\theta_1)$" # the default is "A/1:$\beta$"
                range: [-1, 1] # range for plot
        A/2:
            alpha:
                display: "$\\phi_{2}$"
            cos(beta):
                display: "$\\cos(\\theta_2)$"
        A/3:
            alpha:
                display: "$\\phi_{3}$"
            cos(beta):
                display: "$\\cos(\\theta_3)$"
        R1/0:
            alpha:
                display: "$\\phi_{11}$"
            cos(beta):
                display: "$\\cos(\\theta_{11})$"
        # "/0" is optional
        R2:
            alpha:
                display: "$\\phi_{1}$"
            cos(beta):
                display: "$\\cos(\\theta_{21})$"
        R3:
            alpha:
                display: "$\\phi_{1}$"
            cos(beta):
                display: "$\\cos(\\theta_{31})$"
