# Resonance configure list 
# yaml format version , see more: https://yaml.org/
# required pyyaml module

# head resonance
# resonance name as id 
# quotation marks are option
# head resonance will has head fixed to 1.0
D2_2460: {
  # spin [required]
  J: 2, 
  # parity [required]
  P: 1, 
  # resonance mass  : m_0 [required]
  m0: 2.4607, # m_sigma: 0.1, 
  m_max: 2.4611, m_min: 2.4603, # if max or min is not given, it will be +- 10*sigma
  # resonance width : \Gamma_0 [required]
  g0: 0.0475, # m_sigma: 0.01, 
  g_max: 0.0486, g_min: 0.0464, # if max or min is not given, it will be +- 10*sigma
  # set mass and gamma as variables
  #float: mg,
  # add gaussian constraint term (e.g. mean = m0, sigma = m_sigma)
  #gauss_constr: mg,
  # Breit Wigner formula [option]
  bw: default,
  # where used in decay
  disable: False
}

Ds1_2700_2860: {
  J: 1, Par: -1, 
  params: {
    mass1: 2.7083, mass2: 2.859,
    width1: 0.12, width2: 0.159,
    mass1_range: [2.7, 2.72],
    mass1_sigma: 0.008,
    mass1_free: True,
    mass1_constr: False,
  },
  m0: 2.83, 
  bw: Kmatrix,
}

#other resonance
D2_2460p: {
  J: 2, Par: 1,
  # coef_head make D2_2460p to use the params of D2_2460 by the same name
  # only the total phase angle different
  coef_head: "D2_2460", 
  g0: 0.0467, g_max: 0.0479, g_min: 0.0455, 
  m0: 2.4654, m_max: 2.4667, m_min: 2.4644,
}

D1_2420: {
  J: 1, Par: 1, 
  g0: 0.0317, g_max: 0.0342, g_min: 0.0292, 
  m0: 2.4208, m_max: 2.4213, m_min: 2.4203,
}

D1_2420p: {
  J: 1, Par: 1, 
  coef_head: "D1_2420", 
  g0: 0.025, g_max: 0.021, g_min: 0.019, 
  m0: 2.4232, m_max: 2.4256, m_min: 2.4208,
}

D1_2430: {
  J: 1, Par: 1, 
  g0: 0.384, g_max: 0.514, g_min: 0.274, 
  m0: 2.427, m_max: 2.467, m_min: 2.387,
}

D1_2430p: {
  J: 1, Par: 1, 
  coef_head: "D1_2430", 
  g0: 0.384, g_max: 0.514, g_min: 0.274, 
  m0: 2.427, m_max: 2.467, m_min: 2.387,
}

#D0_2550: {
#  J: 0, Par: -1, 
#  m0: 2.518,
#  g0: 0.199,
#}

#D0_2550p: {
#  J: 0, Par: -1, 
#  coef_head: "D0_2550", 
#  m0: 2.518,
#  g0: 0.199,
#}

#D1_2600: {
#  J: 1, Par: -1, 
#  m0: 2.6419,
#  g0: 0.149,
#}

#D1_2600p: {
#  J: 1, Par: -1,
#  coef_head: "D1_2600", 
#  m0: 2.6419,
#  g0: 0.149,
#}

Zc_4025: {
  J: 1, Par: 1, 
  g0: 0.0248, 
  m0: 4.0263,
  #total: 1.0,
}

Zc_4160: {
  J: 1, Par: 1, 
  g0: 0.0921485, 
  m0: 4.17329,
  float: #mg,
}
