data:
  dat_order: [B, C, D]
  data: ["data/data.dat"]
  phsp: ["data/PHSP.dat"]

decay:
  A:
    - [R_BC, D]
    - [R_BD, C]
    - [R_CD, B]
  R_BC: [B, C]
  R_BD: [B, D]
  R_CD: [C, D]

particle:
  $top:
    A: { J: 1, P: -1, spins: [-1, 1] }
  $finals:
    B: { J: 1, P: -1 }
    C: { J: 1, P: -1 }
    D: { J: 0, P: -1 }
  R_BC: { J: 1, Par: 1, m0: 4.16, g0: 0.1 }
  R_BD: { J: 1, Par: 1, m0: 2.43, g0: 0.3 }
  R_CD: { J: 1, Par: 1, m0: 2.42, g0: 0.03 }

constrains:
  particle: null
  decay: null

plot:
  mass:
    R_BC: { display: "$M_{BC}$" }
    R_BD: { display: "$M_{BD}$" }
    R_CD: { display: "$M_{CD}$" }
