data:
  dat_order: [B, C, D]
  resolution_size: 100
  data: ["data/data.dat"]
  data_weight: ["data/data_w.dat"]
  data_rec: ["data/toy_rec.dat"]
  phsp: ["data/phsp_truth.dat"]
  phsp_rec: ["data/phsp_rec.dat"]
  phsp_noeff: ["data/phsp_plot.dat"]

decay:
  A:
    - [BC, D, has_barrier_factor: False]
    - [CD, B, has_barrier_factor: False]
    - [BD, C, has_barrier_factor: False]
  BC: [B, C, has_barrier_factor: False]
  CD: [C, D, has_barrier_factor: False]
  BD: [B, D, has_barrier_factor: False]

particle:
  $top:
    A:
      J: 0
      P: -1
      mass: 2.0
  $finals:
    B:
      J: 0
      P: -1
      mass: 0.1
    C:
      J: 0
      P: -1
      mass: 0.1
    D:
      J: 0
      P: -1
      mass: 0.1
  BC:
    - R_BC
    - NR
  BD: []
  CD: []
  R_BC:
    J: 1
    P: -1
    mass: 1.8
    width: 0.1
    #width_min: 0.01
    #width_max: 0.2
    float: mg
    model: BW
  NR:
    J: 0
    P: +1
    mass: 1.0
    model: one

constrains:
  decay: { fix_chain_idx: 0, fix_chain_val: 1 }

plot:
  mass:
    BC:
      display: "M(BC)"
    BD:
      display: "M(BD)"
    CD:
      display: "M(CD)"
